In [1]:
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [2]:
dir="data/"

In [3]:
df=pd.read_csv(dir+"GOOG.csv")  # read the data
df.head()  # print the summary of the data

         Date       Open       High        Low      Close  Adj Close    Volume
0  2017-09-01  47.056499  47.124001  46.757500  46.867001  46.867001  18948000
1  2017-09-05  46.653999  46.849998  46.098000  46.422501  46.422501  26528000
2  2017-09-06  46.507500  46.545750  45.963501  46.390499  46.390499  30554000
3  2017-09-07  46.586498  46.820499  46.181000  46.797501  46.797501  24254000
4  2017-09-08  46.824501  46.849499  46.243999  46.325001  46.325001  20230000