In [10]:
import numpy as np
import pandas as pd
import os
from datetime import datetime
import math
import seaborn as sns
import datetime as dt
from datetime import datetime    
sns.set_style("whitegrid")
from pandas.plotting import autocorrelation_plot
import matplotlib.pyplot as plt
#matplotlib inline
plt.style.use("ggplot")

dir="data/"
#df_stock=pd.read_csv(dir+"GOOG.csv")  # read the data
df_stock=pd.read_csv(dir+"TSLA.csv")  # read the data
df_index=pd.read_csv(dir+"SP500.csv")
#df.head()  # print the summary of the data
df_index['Close']=df_index['Close'].apply(lambda x: x.replace(',','')).astype(float)

In [11]:
df_index.iloc[:,3]

0      3,954.53
1      3,965.21
2      4,017.42
3      4,057.66
4      4,147.59
         ...
248    4,513.00
249    4,521.30
250    4,524.66
251    4,522.02
252    4,515.80
Name: Low, Length: 253, dtype: object

In [12]:
df_stock.iloc[:,3]

0        23.579332
1        23.059334
2        22.770666
3        22.896667
4        22.820000
           ...
1252    296.500000
1253    291.600006
1254    287.470001
1255    280.700012
1256    272.649994
Name: Low, Length: 1257, dtype: float64

In [13]:
df_stock.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2017-09-01  23.741333  23.839333  23.579332  23.693333  23.693333  45742500
1  2017-09-05  23.586666  23.699333  23.059334  23.306000  23.306000  57526500
2  2017-09-06  23.299999  23.398666  22.770666  22.968666  22.968666  61371000
3  2017-09-07  23.065332  23.498667  22.896667  23.374001  23.374001  63588000
4  2017-09-08  23.266001  23.318666  22.820000  22.893333  22.893333  48952500

In [14]:
df_stock.iloc[735,4]

0        23.693333
1        23.306000
2        22.968666
3        23.374001
4        22.893333
           ...
1252    297.096680
1253    296.070007
1254    288.089996
1255    284.820007
1256    277.700012
Name: Close, Length: 1257, dtype: float64

In [8]:
df_index.head()

         Date      Open      High       Low    Close
0  08/31/2022  4,000.67  4,015.37  3,954.53  3955.00
1  08/30/2022  4,041.25  4,044.98  3,965.21  3986.16
2  08/29/2022  4,034.58  4,062.99  4,017.42  4030.61
3  08/26/2022  4,198.74  4,203.04  4,057.66  4057.66
4  08/25/2022  4,153.26  4,200.54  4,147.59  4199.12

In [9]:
df_index.iloc[:,4]

0      3955.00
1      3986.16
2      4030.61
3      4057.66
4      4199.12
        ...
248    4520.03
249    4535.43
250    4536.95
251    4524.09
252    4522.68
Name: Close, Length: 253, dtype: float64

In [ ]:
df